@{
    ViewBag.Title = "ComparacionPrecioProducto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Cantidad de Productos Por Categoria</h2>
<br />

<div id="chart-container">
    <div id="chart_div" class="google-api-chart-responsive"></div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the piechart package.
 google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  function drawChart() {
      var data = new google.visualization.DataTable();
      //Se crea un Data Table donde se definen las Columnas
      data.addColumn('string', 'Categoria');
      data.addColumn('number', 'Cantidad');

      // No Olvides que el GetChar debe ser JsonResult
      //Hacemos un for each creando cada row
      $.getJSON("@Url.Action("GetChartProductosPorCategoria")", null, function (chartData) {
          $.each(chartData, function (i, item) {
              data.addRow([item.Categoria, item.Cantidad]);
          });

          var options = {
              hAxis: { titleTextStyle: { color: '#FF5733' } },
              vAxis: {  titleTextStyle:{color: '#FF5733'} },
              height: 500,
              colors: ['#FF5733', '#25C6C1', '#900C3F']
          };

          //Mandamos la Data al DIV
          var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
          chart.draw(data, options);
      });

      //create trigger to resizeEnd event     
      $(window).resize(function () {
          if (this.resizeTO) clearTimeout(this.resizeTO);
          this.resizeTO = setTimeout(function () {
              $(this).trigger('resizeEnd');
          }, 500);
      });

      //redraw graph when window resize is completed  
      $(window).on('resizeEnd', function () {
          drawChart(data);
      });
  }
</script>
