<<<<<<< HEAD
﻿@model UAIBay.WebSite.Models.Producto
@{
    ViewBag.Title = "VerProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

=======
﻿
@{
    ViewBag.Title = "VerProducto";
}

<h2>VerProducto</h2>

>>>>>>> origin/preMaster
