<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="UAIBayAccess"
connectionString="metadata=res://*/Data.ModelUAIBay.csdl|res://*/Data.ModelUAIBay.ssdl|res://*/Data.ModelUAIBay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=uaibayonline.mssql.somee.com;initial catalog=uaibayonline;packet size=4096;persist security info=False;user id=equipocamper_SQLLogin_2;pwd=bx4nu6vk9w;MultipleActiveResultSets=True&quot;"
providerName="System.Data.EntityClient" />
    
    <!--<add name="UAIBayAccess" connectionString="metadata=res://*/Data.ModelUAIBay.csdl|res://*/Data.ModelUAIBay.ssdl|res://*/Data.ModelUAIBay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPETITA\SQLEXPRESS;initial catalog=UAIBay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="UAIBayAccess"
connectionString="metadata=res://*/Data.ModelUAIBay.csdl|res://*/Data.ModelUAIBay.ssdl|res://*/Data.ModelUAIBay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UAIBay1.mssql.somee.com;initial catalog=UAIBay1;packet size=4096;persist security info=False;user id=nicoquisamas_SQLLogin_1;pwd=yuenercysm;MultipleActiveResultSets=True&quot;"
providerName="System.Data.EntityClient" />-->
    <!--<add name="UAIBayAccess"
 connectionString="metadata=res://*/Data.ModelUAIBay.csdl|res://*/Data.ModelUAIBay.ssdl|res://*/Data.ModelUAIBay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UAIBayNew.mssql.somee.com;initial catalog=UAIBayNew;packet size=4096;persist security info=False;user id=equipocamper_SQLLogin_1;pwd=gi2jzwglte;MultipleActiveResultSets=True&quot;"
   providerName="System.Data.EntityClient" />-->
    <!--<add name="UAIBayAccess" connectionString="metadata=res://*/Data.ModelUAIBay.csdl|res://*/Data.ModelUAIBay.ssdl|res://*/Data.ModelUAIBay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=SQL5028.myASP.NET;initial catalog=DB_A13B7A_SQLEXPRESS;User Id=DB_A13B7A_SQLEXPRESS_admin;Password=equipocamper2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="uaibayaccess" connectionstring="metadata=res://*/data.modeluaibay.csdl|res://*/data.modeluaibay.ssdl|res://*/data.modeluaibay.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=uaibay;integrated security=true;multipleactiveresultsets=true;app=entityframework&quot;" providername="system.data.entityclient" />-->
    <!--<add name="UAIBayAccess" connectionString="metadata=res://*/Data.ModelUAIBay.csdl|res://*/Data.ModelUAIBay.ssdl|res://*/Data.ModelUAIBay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=UAIBay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
</configuration>