<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <connectionStrings>
    <!--<add name="UAIBayAccess" connectionString="metadata=res://*/Data.ModelUAIBay.csdl|res://*/Data.ModelUAIBay.ssdl|res://*/Data.ModelUAIBay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPETITA\SQLEXPRESS;initial catalog=UAIBay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="UAIBayAccess" connectionString="metadata=res://*/Data.ModelUAIBay.csdl|res://*/Data.ModelUAIBay.ssdl|res://*/Data.ModelUAIBay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NICO\SQLEXPRESS;initial catalog=UAIBay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>