@model List<UAIBay.WebSite.ViewModel.ProductoViewModels>

@{
    ViewBag.Title = "Catalogo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Catálogo de productos</h3>

<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">@UAIBay.WebSite.Resources.Recurso.NuestrosUltimosProductos</h2>


        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">


                            <img src="~/ImgProductos/@item.Imagen" alt="" />
                            <h2 style="display:inline-block">$</h2><h2 style="display:inline-block">@item.PrecioVenta</h2>
                            <p>@item.Descripcion</p>
                            @*@Html.ActionLink("Agregar al carrito", "AgregarItem", new { codProducto = item.CodProducto })*@

                            <a href="/Comprar/AgregarItem?codProducto=@item.CodProducto" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>@UAIBay.WebSite.Resources.Recurso.AgregarAlCarrito</a>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-plus-circle" style="margin:auto 0"></i></a>
                            @*<a href="#" class="btn btn-default add-to-cart" ><i class="fa fa-envelope-o"></i>Ver mas informacion</a>*@


                        </div>
                    </div>
                </div>
            </div>
        }


    </div><!--features_items-->
</div>