@{
    ViewBag.Title = "CompraFinalizada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 style="text-align:center;">@UAIBay.WebSite.Resources.Recurso.GraciasPorComprarEnUAIBay</h3>

<div style="text-align: center;">
    <img src="http://www.omgcamisetas.com.br/wp-content/uploads/2014/05/success.png%20" alt="CompraRealizada" style="margin:20px" />
</div>


<div style="width: 100%; text-align: center;">
    @Html.ActionLink("Volver a la página principal", "Index", "Home", null, new { style = "text-decoration:underline;" })
</div>

