
@{
    ViewBag.Title = "CompraFinalizada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4 style="text-align:center;">¡Gracias por comprar en UAIBay!</h4>

    <img src="http://www.omgcamisetas.com.br/wp-content/uploads/2014/05/success.png%20" alt="CompraRealizada"  style="margin-left: 42%; margin-top: 4%; margin-bottom: 6%; "/>
</div>
