@{
    ViewBag.Title = "EmailEnviado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/main.css" rel="stylesheet" />
}


<div id="crear" class="cd-popup" role="alert" style="z-index:99;">
    <div id="form" class=" cd-popup-container">

        <h2 class="colorNaranja">Información</h2>

        <h5>El email ha sido enviado correctamente, pronto recebira noticas sobre el producto consultado</h5>

        <div style="float: left; width: 100%; padding-top: 25px; padding-bottom: 25px; ">
            <img src="~/Content/images/index/compraFinalizada.png" />

        </div>

        <ul class="cd-buttons" style="padding:0;margin:0;">
            <li><a href="/Comprar/Catalogo" style="background-color: #FFBE69;">IR A CATÁLOGO</a></li>
            <li><a href="/Home/Index">IR AL INICIO </a></li>
        </ul>
        <a href="/Home/Index" class="cd-popup-close img-replace">Close</a>
    </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->
@section Scripts{
    <script src="~/Scripts/jquery.js"></script>

    <script type="text/javascript">
        $(function () {
            jQuery(window).attr('location', '#crear');
            $('.cd-popup').addClass('is-visible');
        })
    </script>

    <script>
        jQuery(document).ready(function ($) {
            //open popup
            $('.cd-popup-trigger').on('click', function (event) {
                event.preventDefault();
                $('.cd-popup').addClass('is-visible');
            });

            //close popup
            $('.cd-popup').on('click', function (event) {
                if ($(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup')) {
                    event.preventDefault();
                    $(this).removeClass('is-visible');
                    window.location.href = "/Home/Index";
                }
            });
            //close popup when clicking the esc keyboard button
            $(document).keyup(function (event) {
                if (event.which == '27') {
                    $('.cd-popup').removeClass('is-visible');
                    window.location.href = "/Home/Index";
                }
            });
        });
    </script>
}
