@{
    ViewBag.Title = "FAQS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nuestrainfo">
    <h1><span>Preguntas frecuentes</span></h1>
    <h2><span>¿Hay que pagar para unirse a la comunidad UAY-BAY?</span></h2>
    <p>No,en absoluto.Para unirse a nuestra comunidad basta con algunos datos personales. </p>
    <h2><span>¿Cual es el costo de envio?</span></h2>
    <p>Ninguno, el envio es gratuito. </p>
    <h2><span>¿Que formas de pago dispone UAI-BAY?</span></h2>
    <p>Usted podra abonar por tarjeta de credito a traves de nuestra pagina web o directamente abonar en efectivo cuando reciba sus productos en su domicilio. </p>
    <h2><span>¿Como recupero mi contraseña?</span></h2>
    <p>Una vez registrado en el sistema, en caso de no recordar su contraseña, se puede solicitar una nueva contraseña. Para esto se debe ingresar a la pestaña de Login y elegir la opción "Olvidaste tu contraseña?". Se debe ingresar el email de su cuenta y hacer click en "Recuperar contraseña".En unos instantes llegara un email a su casilla de correo con su nueva contraseña. </p>
    <h2><span>¿Como cambiar mi contraseña?</span></h2>
    <p>Una vez registrado y logeado en el sistema, ingresar a la pestaña de "Cuenta" y clickear en la opcion "Cambiar contraseña". Por ultimo,escriba su nueva contraseña y confirmela. </p>
    @*<h2><span>¿Como registrarse?</span></h2>
    <h2><span>¿Como actualizo mis datos?</span></h2>*@
    <h2><span>¿Como comprar?</span></h2>
    <p>Comprar es muy sencillo, una vez logeado en la pagina, usted podra ver un Catalago con los productos que contamos y seleccionar todos aquellos productos que quiera comprar. Al final de la seleccion podra ver un listado con los productos seleecionados y el total a abonar</p>
    <h2><span>¿Como aplicar un codigo de descuento?</span></h2>
    <p>Los codigos de descuento se deben aplicar al final de la compra insertando el codigo que le sera enviado por mail. Recuerde que estos codigos poseen una fecha de vencimiento</p>
</div>

