@{
    ViewBag.Title = "NuestraInformacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nuestrainfo">
    <h2><span>Misión</span></h2>
    <p >Satisfacer las necesidades del cliente interno y externo: desarrollando, fabricando y comercializando productos y servicios de excelente calidad. Con un personal capacitado para dar soluciones integrales que generen bienestar, compromiso y trabajo en equipo.</p>
    <h2><span>Visión</span></h2>
    <p >Ser el supermercado más importante en todo el litoral central, logrando la distinción tanto de clientes como de proveedores y competidores. Mantener y aumentar, las ventas y el número de clientes, año a año.</p>
    <h2><span>Comunidad</span></h2>
    <p >Apoyamos el emprendimiento ya que creemos que es la mejor vía para superar la pobreza, ademas porque este valor esta incorporado en el ADN de la empresa, ya que nuestro presidente es un emprendedor innato. Esto quiere decir que nuestro compromiso esta en apoyar al emprendimiento nacional, local y a los pequeños productores, para generar un impacto social positivo. Por esto, en Agosto de 2007, concretamos una alianza con Fondo Esperanza, fundación sin fines de lucro que entrega créditos y educación emprendedora a personas de escasos recursos.</p>
    <h2><span>Medioambiente</span></h2>
    <p >Operar de manera respetuosa con el medioambiente y generar conciencia, ya que el medioambiente es un tema que no puede esperar.</p>
    <h2><span>Colaboradores</span></h2>
    <p >Para UAI-BAY es fundamental cuidar su capital humano porque sus colaboradores son la cara visible de la empresa y del servicio que se entrega. Uno de los ejes centrales es que ellos se sientan bien, recompensados y motivados para lo cual nos hemos propuesto desarrollar el talento y mejorar la calidad de vida de cada uno de ellos</p>
</div>